
<!-- To create a button and use function defined in app.components.ts -->
<!-- <button (click)="fun('Abhishek Chaubey', 23)">Click me again</button>-->


<!-- <button (click)="getData()" style="border-radius:100px;">Click me</button> -->
<!-- <br>
<br>

Events
<input type="text" #box (keyup)="getData(box.value)" placeholder="event keyup" />
<br>
<br>
<input type="text" #bo (keydown)="getData(bo.value)" placeholder="event keydown" />
<br>
<br>
<input type="text" #b (blur)="getData(b.value)" placeholder="event blur">

<h1 (mouseover)="getData('Abhishek')" >Hello World</h1>
<h1 (mouseleave)="getData('Abhishek')" >Hello World 2</h1> -->
<!-- <app-test-component></app-test-component> -->

<!-- <input type="text" #box (keyup)="getValue(box.value)" placeholder="Enter Name"/>
<button (click)="getValue(box.value)" >click</button>
<p>The name is: {{ displayVal }}</p> -->

<!--
<button (click)="counter('sub')" >Decrement</button> <hr>
<button (click)="counter('add')" >Increment</button>
<p>{{ count }}</p> -->

<h1 style="text-align: center;"> {{ title }} </h1>
<!-- <input type="text" name="user-name" value={{name}}>
<br>
<input type="text" name="user-name" [value]="name"> property binding -->
<!-- <app-login></app-login> -->


<h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
  <h1>If Condition</h1>
</ng-template>

<ng-template #elseBlock>
  <h1>Else Condition</h1>
</ng-template>
