/* .heading
{
  color:#8a692c ;
}
.align
{
  text-align: center;
}
.bg
{
  background-color:#000310;
  border: 2px solid #3c4b52;
}
body
{
  /* background-color: black; */
  /* background: url(C:\Users\hp\angular\blog\src\assets\ds.png) no-repeat;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
html {
  height: 100%
} */
